@import '../../mixin'; // responsive web

.login{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg");
    background-size: cover;
    position: relative;
    .top{
        position:relative;
        z-index: 999;
        .wrapper{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                height: 40px;
                cursor: pointer;
            }
        }
    }
    .container{
        width: 100%;
        height: 100%;
        position:absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:#fff;
        .form{
            width: 300px;
            height: 300px;
            padding: 30px;
            border-radius: 5px;
            background-color: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            input{
                height: 40px;
                border-radius: 5px;
                background-color: #555;
                color: #fff;
                padding-left: 10px;
                border:none;
                &::placeholder{
                    color:#d3d3d3;
                }
            }
            button{
                height: 40px;
                border-radius: 5px;
                background-color: var(--red);
                color: #fff;
                border: none;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    background-color: var(--btn-hover);
                }
            }
            span{
                color: #d3d3d3;
                b{
                    color: #fff;
                }
            }
        }
    }
}


@include mobile {
    .login{
        .top{
            .wrapper{
                padding: 1em 1.5em;
                .logo{
                    height: 1.5em;
                }
                .loginButton{
                    font-size: #{$font-default};
                }
            }
        }
        .container{
            text-align: center;
            padding:0 1.5em;
            width: 100%;
            box-sizing: border-box;
            form{
                width:100%; 
                height:auto;
                padding: 1.5em;
                box-sizing: border-box;
                h1{
                    font-size: #{$font-large};
                    margin-bottom: 1em;
                }
                input{
                    border:none;
                    width: 100%;
                    box-sizing: border-box;
                    border-radius: 5px;
                    height: auto;
                    padding: 1em; 
                    font-size: #{$font-default};
                    margin-bottom:1em;
                }
                button{
                    font-size: #{$font-default};
                    padding: 1em;
                    height: auto;
                    border-radius: 5px;
                    font-weight: 500;
                }
                span, small{
                    font-size: #{$font-small};
                    margin-top: 1em;
                }
            }
        }
    }
}

@include tablet {
    .login{
        .container{
            h1{
                font-size: #{$font-xlarge};
                text-align: center;
            }
        }
    }
}

@include desktop {
  
}