@import '../../mixin'; // responsive web

.watch{
    width:100vw;
    height:100vh;
    background-color:var(--main-color);
    position: relative;
    .back{
        position: absolute;
        z-index:999;
        top:0;
        left: 0;
        display: flex;
        padding: 1em 1.5em;
        height: 10%;
        box-sizing: border-box;
        a{  
            display: flex;
            align-items: center;
            color: #fff;
            font-weight: 500;
            text-decoration: none;
            &:visited{
                color:#fff;
            }
        }
    }
    .video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

}


// responsive web
@mixin mobile {
    
}

@mixin tablet {
   
}

@mixin desktop {
  
}


