@import '../../mixin'; 

.list{
    width: 100%;
    margin-top: 10px;
    .listTitle{
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        margin-left: 50px;
    }
    .wrapper{
        position: relative;
        .sliderArrow{
            width: 50px;
            height: 100%;
            background-color: rgba(22,22,22,0.5);
            color:#fff;
            position:absolute;
            z-index: 99;
            top: 0;
            bottom: 0;
            margin: auto;
            &.left{
                left: 0;
            }
            &.right{
                right: 0;
            }
        }
        .container{
            margin-left: 50px;
            display: flex;
            margin-top: 10px;
            width: max-content;
            transform: translateX(0px);
            transition: all 1s ease;
        }
    }
}


@include mobile {
    .list{
        margin: 1.5em 0;
        .listTitle{
            margin-left: 1.5em;
            font-size: #{$font-medium};
        }
        .wrapper{
            margin-top: 1em;
            .container{
                margin-top: 0;
            }
        }
    }
}

@include tablet {
    .list{
        margin: 1.5em 0;
        .listTitle{
            margin-left: 1.5em;
            font-size: #{$font-medium};
            margin-bottom: 1em;
        }
        .wrapper{
            margin-top: 1em;
            .container{
                margin-top: 0;
            }
        }
    }
}

@include desktop {
  
}
