@import '../../mixin'; // responsive web

.modal_container{
    background: rgba(0,0,0,0.5);
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .itemModal{
        position:absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        width: 50%;
        color: #fff;
        background-color: var(--main-color);
        border-radius: 10px;
        z-index:1001;
        .back{
            padding: 1em 1.5em;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-decoration: none;
            font-weight: 500;
            font-size: #{$font-default};
            .modal_button{
                cursor: pointer;
            }
        }
        .itemImg{
            position:relative;
            img{
                width: 100%;
                height: 350px;
                object-fit: cover;
                object-position: center;
            }
            .itemText{
                position:absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.7);
                padding: 3em 1.5em ;
                text-shadow: 4px 3px 4px rgba(0,0,0,0.8);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            h1{
                margin-bottom: 0.75em;
            }
            .desc{
                font-size: #{$font-default};
                width:75%;
            }
        }
        
        .video{
            height: 40vh;
        }
        .itemInfo{
            padding: 2em 1.5em;
            display: flex;
            flex-direction: column;
            .icons{
                display: flex;
                margin-bottom: 1em;
                .icon{
                    border:2px solid #fff;
                    padding: 0.5em;
                    border-radius: 50%;
                    margin-right: 1em;
                    font-size: #{$font-medium};
                    cursor: pointer;
                    &:active{
                        background-color: #fff;
                        color:var(--main-color)
                    }
                }
            }
        }
        .itemInfoTop{
            display: flex;
            align-items: center;
            margin-bottom: 1em;
            font-size: #{$font-default};
            font-weight: 500;
            color: #555;
            .limit{
                border:1px solid #555;
                padding: 1px 5px;
                margin: 0 1em;
                display: flex;
                align-items: center;
                .icon{
                    margin-right:5px;
                }
            }
        }
       
        .genre{
            font-size: #{$font-default};
            color: #d3d3d3;
        }
        .playBtn{
            display: block;
            margin-right: 1em;
            text-decoration: none;
            button{
                border: none;
                padding: 0.5em 1.5em;
                color: #fff;
                background-color: var(--red);
                font-weight: 500;
                font-size: #{$font-default};
                border-radius: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                &:active{
                background-color: var(--btn-hover);
                }
            } 
        }
    }
}



@include mobile {
    .modal_container{
        .itemModal{
            position:fixed;
            top:0;
            left: 0;
            width: 100vw;
            height: 100vh;
            border-radius: 0;
            transform:unset;
            .video{
                height: 30vh;
            }
        }
    }
}

@include tablet {
    .modal_container{
        .itemModal{
            width: 80%;
        }
    }
}

@include desktop {
  
}
