@import '../../mixin'; // responsive web

.intro{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
    background-size: cover;
    position: relative;
    .top{
        position:relative;
        z-index: 999;
        .wrapper{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                height: 40px;
                cursor: pointer;
            }
            .loginButton{
                background-color: var(--red);
                border: none;
                color: #fff;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 16px;
                cursor: pointer;
                &:hover{
                    background-color: var(--btn-hover);
                }
            }
        }
    }
    .container{
        width: 100%;
        height: 100%;
        position:absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:#fff;
        text-align: center;
        h1{
          font-size: 50px;  
        }
        h2{
            margin: 20px;
        }
        p{
            font-size: 20px;
        }
        .buttons{
            margin-top: 3em;
            display: flex;
            align-items: center;
            a{
                display:block;
                margin-right: 1em;
                button{
                    padding:0.5em 1.5em;
                    border-radius: 5px;
                    border: none;
                    font-size: 22px;
                    cursor: pointer;
                }
                &:first-child{
                    button{
                        background-color: #fff;
                        color: var(--red);
                        &:hover{
                            background-color: #f0f0f0;
                        }
                        &:active{
                            background-color: #f0f0f0;
                        }
                    }
                }
                &:last-child{
                    button{
                        background-color: var(--red);
                        color: #fff;
                        &:hover{
                            background-color: var(--btn-hover);
                        }
                        &:active{
                            background-color: var(--btn-hover);
                        }
                    }
                    margin-right: 0;
                }
            }
        }
    }
}

@include mobile {
    .intro{
        .top{
            .wrapper{
                padding: 1em 1.5em;
                .logo{
                    height: 1.5em;
                }
                .loginButton{
                    font-size: #{$font-default};
                }
            }
        }
        .container{
            text-align: center;
            padding:0 1.5em;
            width: 100%;
            box-sizing: border-box;
            h1{
                font-size: #{$font-large};
            }
            h2{
                font-size: #{$font-medium};
                margin:1.5em 0;
            }
            p{
                font-size: #{$font-default};
            }
            .buttons{
                flex-direction: column;
                margin-top: 1.5em;
                width:80%;
                a{  
                    width:100%;
                    margin-top: 1em;
                    margin:0;
                    button{
                        width: 100%;
                        margin-top: 1em;
                        font-size: #{$font-default};
                        padding: 1em;
                        height: auto;
                        border-radius: 5px;
                        font-weight: 500;
                    }
                }
                
            }
        }
    }
}

@include tablet {
    .register{
        .container{
            h1{
                font-size: #{$font-xlarge};
                text-align: center;
            }
            .input{
                width: 80%;
            }
        }
    }
}

@include desktop {
  
}